*{ box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: #000000;
}

p { margin: 0;}

ul { 
  margin: 0;
  padding:0 10%;
 }


.main-content { 
  width: 75.5%;
  margin: 0 auto;
  padding: 2em;
  background: #ffffff;
  text-transform: uppercase;
}

.logo {
  margin-bottom: 1em;
  padding:0.5em 1em;
  display: flex;
  position: relative;
  color: #ffffff;
  background: #000000;
  align-items: center;
}

.logo > p { 
  width: 100%;
  margin-right: 0.5em;
  padding-right: 0.5em;
  border-right: 1px solid #ffffff;
  text-align: right; 
}

.logo span {
  width: 100%;
}


.main-content a {
  color: #ffffff;
  font-size: 1.2em;
  cursor: pointer;
  text-decoration: none;
 }



 .stop { display: none; }

.priorities {
  font-size: 1.2em;  
}

.priorities-content { 
  margin: 1.5em 0;
  display: flex;
  justify-content: space-evenly;
}

.priorities-content > div { 
  width: 25%;
  max-height: 20em;
  margin-bottom: 2em ;
  text-align: center;
  border-radius: 0.5em;

}

.priorities-content p { 
  padding: 0.5em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}


.item{ 
  height: 13em;
  border: 1px solid #d3d3d3;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  align-items: center;
}

.high p { background: #ff0000; }

.medium p { background: #ffa500; }

.low p { background: #ffff00; }

.task {
  margin: 0.5em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  background: #000000;
  color: #ffffff;
  font-size: 0.75em;
}


.task-ul { display: flex;}

.bottom-logo { 
  margin-top: 3em;
  padding:0.5em 1em;
  color: #ffffff;
  background: #000000;
  align-items: center;
 }

